In [1]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
#import data
item_categories = pd.read_csv('item_categories.csv')
items = pd.read_csv('items.csv')
sales = pd.read_csv('sales.csv', parse_dates=['date'])
shops = pd.read_csv('shops.csv')

In [3]:
#preview item_categories
item_categories.head()

   ID               item_category_name active_flag
0  25    Games - Accessories for games         NaN
1   5             Accessories - PSVita         NaN
2  62  Gifts - gadgets, robots, sports         NaN
3  15         Game consoles - XBOX 360         NaN
4  14           Game consoles - PSVita         NaN

In [4]:
#preview items
items.head()

                                           item_name  id  category
0                       ! POWER IN glamor (PLAST.) D   0        40
1  ! ABBYY FineReader 12 Professional Edition Ful...   1        76
2                           *** In the glory (UNV) D   2        40
3                             *** BLUE WAVE (Univ) D   3        40
4                                  *** BOX (GLASS) D   4        40

In [5]:
#preview sales
sales.head()

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-02-01               0       59    22154      999.00           1.0
1 2013-03-01               0       25     2552      899.00           1.0
2 2013-05-01               0       25     2552      899.00          -1.0
3 2013-06-01               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0

In [6]:
#preview shops
shops = shops.rename(columns={"name": "shop_name"})
shops.head()

  system_id                              shop_name  id active_flag
0   R395989                Voronezh TRC "Maksimir"   7           X
1   Q222502                       Zhukovsky Street  11           X
2    B70025  RostovNaDonu TRC "Megacenter Horizon"  39         NaN
3   U750976      ! Yakutsk Ordzhonikidze, 56 Franc   0         NaN
4   F831253                Shop Online Emergencies  12         NaN

In [7]:
#columns of each dataset
print("Columns of item_categories:")
print(item_categories.columns.values.tolist())
print('\n')

print("Columns of items:")
print(items.columns.values.tolist())
print('\n')

print("Columns of sales:")
print(sales.columns.values.tolist())
print('\n')

print("Columns of shops:")
print(shops.columns.values.tolist())
print('\n')

Columns of item_categories:
['ID', 'item_category_name', 'active_flag']


Columns of items:
['item_name', 'id', 'category']


Columns of sales:
['date', 'date_block_num', 'shop_id', 'item_id', 'item_price', 'item_cnt_day']


Columns of shops:
['system_id', 'shop_name', 'id', 'active_flag']

In [8]:
#merge datasets
sales_merged = sales.merge(shops, how='left', left_on='shop_id', right_on='id').drop(['id','active_flag'], axis=1)
sales_merged = sales_merged.merge(items, how='left', left_on='item_id', right_on='id').drop('id', axis=1)
sales_merged = sales_merged.merge(item_categories, how='left', left_on='category', right_on='ID').drop('ID', axis=1)

In [9]:
#preview merged dataset
sales_merged.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,system_id,shop_name,item_name,category,item_category_name,active_flag
0,2013-02-01,0,59,22154,999.00,1.0,G957470,"Yaroslavl shopping center ""Altair""",Scene 2012 (BD),37,Movies - Blu-Ray,NaN
1,2013-03-01,0,25,2552,899.00,1.0,B882047,"Moscow TRC ""Atrium""",DEEP PURPLE The House Of Blue Light LP,58,Music - Vinyl,NaN
2,2013-05-01,0,25,2552,899.00,-1.0,B882047,"Moscow TRC ""Atrium""",DEEP PURPLE The House Of Blue Light LP,58,Music - Vinyl,NaN
3,2013-06-01,0,25,2554,1709.05,1.0,B882047,"Moscow TRC ""Atrium""",DEEP PURPLE Who Do You Think We Are LP,58,Music - Vinyl,NaN
4,2013-01-15,0,25,2555,1099.00,1.0,B882047,"Moscow TRC ""Atrium""",DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,Music - CD production firm,NaN

In [10]:
#summary statistics for each numeric column
sales_merged.describe()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,category
count,3.274029e+06,3.274029e+06,3.274029e+06,3.274029e+06,3.273974e+06,3.274029e+06
mean,1.458667e+01,3.124899e+01,1.025552e+04,3.388227e+03,1.260911e+00,4.014137e+01
std,9.456448e+00,1.690565e+01,6.283035e+03,2.636593e+04,3.558028e+00,1.755315e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-2.200000e+01,0.000000e+00
25%,7.000000e+00,1.800000e+01,4.669000e+03,2.490000e+02,1.000000e+00,2.800000e+01
50%,1.400000e+01,3.000000e+01,9.445000e+03,4.190000e+02,1.000000e+00,4.000000e+01
75%,2.300000e+01,4.600000e+01,1.577000e+04,1.049000e+03,1.000000e+00,5.500000e+01
max,3.300000e+01,5.900000e+01,2.216900e+04,4.200000e+06,2.169000e+03,8.300000e+01

In [11]:
#remove records with negative price or negative sales
sales_merged = sales_merged[(sales_merged['item_price']>0) & (sales_merged['item_cnt_day']>0)]

In [12]:
#size of sales dataset
len(sales_merged)

3265560

In [13]:
#find number of null values for each column
sales_merged.isna().sum()

date                        0
date_block_num              0
shop_id                     0
item_id                     0
item_price                  0
item_cnt_day                0
system_id                   0
shop_name                   0
item_name                   0
category                    0
item_category_name          0
active_flag           3141982
dtype: int64

In [14]:
#most values in active_flag are missing, this column is dropped
sales_merged = sales_merged.drop(['active_flag'], axis=1)

In [15]:
#extract year, month, and day from the date column
sales_merged['year'] = sales_merged.date.dt.year
sales_merged['month'] = sales_merged.date.dt.month
sales_merged['day'] = sales_merged.date.dt.day

In [184]:
#aggregate on monthly level
groups = sales_merged.groupby(['shop_id', 'item_id', 'date_block_num'])
sales_aggregated = groups.agg({'item_cnt_day':'sum', 'item_price':'mean'}).reset_index()
sales_aggregated = sales_aggregated.rename(columns = {'item_cnt_day' : 'item_cnt_month'})

In [185]:
sales_aggregated.head()

   shop_id  item_id  date_block_num  item_cnt_month  item_price
0        0       30               1            62.0       265.0
1        0       31               1            22.0       434.0
2        0       32               0            12.0       221.0
3        0       32               1            20.0       221.0
4        0       33               0             6.0       347.0

In [186]:
#add item categories
sales_aggregated = sales_aggregated.merge(items, how='left', left_on='item_id', right_on='id').drop(['id','item_name'], axis=1)

In [187]:
sales_aggregated.head()

   shop_id  item_id  date_block_num  item_cnt_month  item_price  category
0        0       30               1            62.0       265.0        40
1        0       31               1            22.0       434.0        37
2        0       32               0            12.0       221.0        40
3        0       32               1            20.0       221.0        40
4        0       33               0             6.0       347.0        37

In [188]:
#add lag feature for item_cnt_month

#first sort dataframe based on date_block_num
sales_aggregated = sales_aggregated.sort_values('date_block_num')

#add lag feature
sales_aggregated['item_cnt_prev_month'] = sales_aggregated.groupby(['shop_id', 'item_id'], sort = False)['item_cnt_month'].shift(1).fillna(0)

In [189]:
#find maximum date_block_number

sales_aggregated['date_block_num'].max()

33

In [190]:
#train test split
#test data: partition of data where date_block_num = 33

train = sales_aggregated[sales_aggregated['date_block_num'] < 33]
test = sales_aggregated[sales_aggregated['date_block_num'] == 33]

In [191]:
#define X_train, X_test, y_train, y_test
X_train = train.drop('item_cnt_month', axis=1)
X_test = test.drop('item_cnt_month', axis=1)
y_train = train['item_cnt_month']
y_test = test['item_cnt_month']

In [192]:
#training time~10 minutes
from xgboost import XGBRegressor

model = XGBRegressor(
    seed=42)

model.fit(
    X_train, 
    y_train, 
    eval_metric="rmse",
    eval_set=[(X_test, y_test)],
    early_stopping_rounds=5,
    verbose=True)

[0]	validation_0-rmse:49.13225
Will train until validation_0-rmse hasn't improved in 5 rounds.
[1]	validation_0-rmse:45.99173
[2]	validation_0-rmse:45.52836
[3]	validation_0-rmse:45.21841
[4]	validation_0-rmse:43.66306
[5]	validation_0-rmse:42.35295
[6]	validation_0-rmse:42.46054
[7]	validation_0-rmse:42.08406
[8]	validation_0-rmse:42.09575
[9]	validation_0-rmse:41.94340
[10]	validation_0-rmse:42.06158
[11]	validation_0-rmse:42.12147
[12]	validation_0-rmse:42.20445
[13]	validation_0-rmse:42.25562
[14]	validation_0-rmse:42.08365
Stopping. Best iteration:
[9]	validation_0-rmse:41.94340

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints='',
       learning_rate=0.300000012, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=nan, monotone_constraints='()',
       n_estimators=100, n_jobs=0, num_parallel_tree=1,
       objective='reg:squarederror', random_state=42, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=42, subsample=1,
       tree_method='exact', validate_parameters=1, verbosity=None)

In [195]:
#train rmse
from sklearn.metrics import mean_squared_error
prediction_train = model.predict(X_train)
rmse_train = np.sqrt(mean_squared_error(y_train,prediction_train))
print(rmse_train)

6.5804495702966115

In [196]:
#test rmse
prediction_test = model.predict(X_test)
rmse_test = np.sqrt(mean_squared_error(y_test,prediction_test))
print(rmse_test)

41.9435030929019

In [197]:
#benchmark rmse: average sales from training set
#establish benchmark performance
average_sales = train.groupby(['shop_id', 'item_id'])['item_cnt_month'].mean().reset_index().rename(columns={'item_cnt_month': 'item_cnt_month_mean'})
test_with_average = test.merge(average_sales, how='left', on=['shop_id','item_id']).fillna(0)
prediction_average = test_with_average['item_cnt_month_mean']
rmse_benchmark = np.sqrt(mean_squared_error(y_test,prediction_average))
print(rmse_benchmark)

48.534438961532175

In [198]:
#item with maximum predicted sales in the next month
max_item_index = np.argmax(prediction_test)
max_item_shop = X_test.iloc[max_item_index]['shop_id']
max_item = X_test.iloc[max_item_index]['item_id']
print(items[items['id']==max_item]['item_name'].unique())
print(shops[shops['id']==max_item_shop]['shop_name'].unique())

['Delivery to the delivery point (Boxberry)']
['Shop Online Emergencies']

In [199]:
#shop with maximum total predicted sales in the next month
results = X_test.copy()
results['item_cnt_month_predicted'] = prediction_test

#aggregate on shop level
shops_groups = results.groupby(['shop_id'])
results_aggregated = shops_groups.agg({'item_cnt_month_predicted':'sum'}).reset_index()
results_aggregated = results_aggregated.rename(columns = {'item_cnt_month_predicted' : 'item_cnt_predicted_sum'})
max_shop = results_aggregated.iloc[results_aggregated['item_cnt_predicted_sum'].idxmax()]['shop_id']
print(shops[shops['id']==max_shop]['shop_name'].unique())
print(results_aggregated['item_cnt_predicted_sum'].max())

['Shop Online Emergencies']
9863.356

In [200]:
#item with maximum total predicted sales in the next month

#aggregate on item level
items_groups = results.groupby(['item_id'])
results_aggregated = items_groups.agg({'item_cnt_month_predicted':'sum'}).reset_index()
results_aggregated = results_aggregated.rename(columns = {'item_cnt_month_predicted' : 'item_cnt_predicted_sum'})
max_item_agg = results_aggregated.iloc[results_aggregated['item_cnt_predicted_sum'].idxmax()]['item_id']
print(items[items['id']==max_item_agg]['item_name'].unique())
print(results_aggregated['item_cnt_predicted_sum'].max())

['Corporate package white shirt 1C Interest (34 * 42) 45 m']
5407.1953

In [201]:
#predicted change in sales
results['item_cnt_month_predicted_change'] = (results['item_cnt_month_predicted'] - results['item_cnt_prev_month'])

In [202]:
#shop with maximum predicted change in sales in the next month

#aggregate on shop level
shops_groups = results.groupby(['shop_id'])
results_aggregated = shops_groups.agg({'item_cnt_month_predicted_change':'sum'}).reset_index()
results_aggregated = results_aggregated.rename(columns = {'item_cnt_month_predicted_change' : 'item_cnt_month_predicted_change_sum'})
max_shop = results_aggregated.iloc[results_aggregated['item_cnt_month_predicted_change_sum'].idxmax()]['shop_id']
print(shops[shops['id']==max_shop]['shop_name'].unique())
print(results_aggregated['item_cnt_month_predicted_change_sum'].max())

['Shop Online Emergencies']
1955.3560888767242

In [203]:
#shop with minimum predicted change in sales in the next month

#aggregate on shop level
shops_groups = results.groupby(['shop_id'])
results_aggregated = shops_groups.agg({'item_cnt_month_predicted_change':'sum'}).reset_index()
results_aggregated = results_aggregated.rename(columns = {'item_cnt_month_predicted_change' : 'item_cnt_month_predicted_change_sum'})
min_shop = results_aggregated.iloc[results_aggregated['item_cnt_month_predicted_change_sum'].idxmin()]['shop_id']
print(shops[shops['id']==min_shop]['shop_name'].unique())
print(results_aggregated['item_cnt_month_predicted_change_sum'].min())

['St. Petersburg TK "Nevsky Center"']
20.569810032844543

In [204]:
#item with maximum predicted change in sales in the next month

#aggregate on item level
items_groups = results.groupby(['item_id'])
results_aggregated = items_groups.agg({'item_cnt_month_predicted_change':'sum'}).reset_index()
results_aggregated = results_aggregated.rename(columns = {'item_cnt_month_predicted_change' : 'item_cnt_month_predicted_change_sum'})
max_item = results_aggregated.iloc[results_aggregated['item_cnt_month_predicted_change_sum'].idxmax()]['item_id']
print(items[items['id']==max_item]['item_name'].unique())
print(results_aggregated['item_cnt_month_predicted_change_sum'].max())

['Delivery to the delivery point (Boxberry)']
774.7408447265625

In [205]:
#item with minimum predicted change in sales in the next month

#aggregate on item level
items_groups = results.groupby(['item_id'])
results_aggregated = items_groups.agg({'item_cnt_month_predicted_change':'sum'}).reset_index()
results_aggregated = results_aggregated.rename(columns = {'item_cnt_month_predicted_change' : 'item_cnt_month_predicted_change_sum'})
min_item = results_aggregated.iloc[results_aggregated['item_cnt_month_predicted_change_sum'].idxmin()]['item_id']
print(items[items['id']==min_item]['item_name'].unique())
print(results_aggregated['item_cnt_month_predicted_change_sum'].min())

['FIFA 16 [PS4, Russian version]']
-640.5503716468811